*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --pa-gold: #cda656;
  --pa-goldt: rgba(205, 166, 86, 0.8);
  --pa-dark: #404040;
  --pa-darkt: rgba(64, 64, 64, 0.8);
  --c-white: #ffffff;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body.noscroll {
  overflow: hidden;
}

@keyframes navSticky {
  0% {
    position: fixed;
    top: -4rem;
    left: 0;
  }
  80% {
    position: fixed;
    top: 0;
    left: 0;
  }
}

@keyframes contactPopupActive {
  0% {
    position: fixed;
    top: 200%;
    left: 0;
  }
  80% {
    position: fixed;
    top: 0;
    left: 0;
  }
}

@keyframes swiperFade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

.container[data-brand="premierappliances"] {
  font-family: "Barlow", sans-serif;
  margin: auto;
}

.container[data-brand="premierappliances"] section {
  border-bottom: 0.25rem solid var(--pa-gold);
  box-sizing: border-box;
}

.text-gold {
  color: var(--pa-gold);
}

.text-bold {
  font-weight: 700;
}

.text-upper {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.packagesSwiper__pagination,
.vendorsSwiper__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.swiper-pagination-bullet-active {
  background: var(--pa-gold);
}

.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pa-gold);
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
  color: var(--c-white);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: translateY(-1px);
}

.swiper-button-prev:active,
.swiper-button-next:active {
  transform: translateY(1px);
}

.swiper-slide {
  user-select: none;
  cursor: grab;
}

.swiper-slide:active {
  cursor: grabbing;
}

.premierappliances__jobBanner {
  background: var(--pa-gold);
  color: var(--c-white);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25rem 1rem var(--pa-darkt);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .premierappliances__jobBanner {
    position: fixed;
    height: 4rem;
  }
}

.premierappliances__jobBanner--copy {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pa-grid {
  display: grid;
  grid-template-columns: 3rem repeat(10, 1fr) 3rem;
  grid-template-rows: 3rem repeat(10, 1fr) 3rem;
}

@media (min-width: 2560px) {
  .pa-grid {
    height: 1080px;
    max-height: max-content;
  }
}

@media (max-width: 767px) {
  .pa-grid {
    grid-template-columns: 1rem repeat(10, 1fr) 1rem;
    grid-template-rows: 1rem repeat(10, 1fr) 1rem;
    min-height: 80vh;
    height: auto;
  }
}

section.pa-grid {
  min-height: 100vh;
  width: 100%;
  max-width: 2560px;
}

.premierappliances__divider {
  background: var(--pa-gold);
  width: 25%;
  height: 0.25rem;
  margin: 0 auto;
}

.premierappliances__swiper {
  padding: 2rem 0 2rem 0;
  width: 100%;
}

.premierappliances__content {
  max-width: 1366px;
  margin: auto;
}

.premierappliances__vendor {
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.premierappliances__vendor img {
  height: 75%;
  width: 75%;
  object-fit: contain;
  object-position: center;
}

.premierappliances__contentBlock {
  background: var(--pa-darkt);
  padding: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
}

@media (max-width: 767px) {
  .premierappliances__contentBlock {
    padding: 2rem;
  }
}

.premierappliances__contentBlock ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
  text-align: start;
  padding-left: 1rem;
}

.premierappliances__contentBlock ul li {
  padding-right: 0;
  list-style-position: inside;
}

.premierappliances__contentWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.premierappliances__nav {
  background: var(--pa-dark);
  color: var(--c-white);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 4rem;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0.25rem 1rem var(--pa-darkt);
}

@media (max-width: 767px) {
  .premierappliances__nav {
    flex-flow: column nowrap;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.premierappliances__nav--close,
.premierappliances__nav--open {
  height: 2rem !important;
  width: 2rem !important;
}

@media (max-width: 767px) {
  .premierappliances__navSticky--logo {
    display: none !important;
  }
}

.premierappliances__nav--content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .premierappliances__nav--content {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .premierappliances__nav--content.active {
    display: flex;
  }
}

.premierappliances__nav--logo {
  display: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .premierappliances__nav--logo {
    width: 100%;
    background: var(--pa-gold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    box-sizing: border-box;
  }
}

.premierappliances__nav--logo img {
  height: 100%;
  width: auto;
  object-position: center;
  object-fit: contain;
}

@media (min-width: 768px) {
  .premierappliances__nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    animation: navSticky 0.5s ease-in-out;
  }
}

.premierappliances__nav--item {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--pa-dark);
  color: var(--c-white);
  transition: all 0.25s ease-in-out;
  border-bottom: 0.25rem solid transparent;
  text-decoration: none;
  padding: 0 1rem;
  box-sizing: border-box;
}

.premierappliances__nav--item.active {
  background: var(--pa-gold);
  border-bottom: 0.25rem solid var(--pa-gold);
}

.premierappliances__nav--item:hover {
  transition: all 0.25s ease-in-out;
  border-bottom: 0.25rem solid var(--pa-gold);
}

@media (max-width: 767px) {
  .premierappliances__nav--item {
    flex: unset;
    padding: 1rem;
    width: 100%;
  }
}

.premierappliances__hero {
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: none !important;
}

@media (min-width: 768px) {
  .premierappliances__hero {
    min-height: calc(100vh - 4rem) !important;
  }
}

.premierappliances__hero--logo {
  background: var(--pa-darkt);
  grid-column: 7 / 13;
  grid-row: 4 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c-white);
}

.premierappliances__hero--logo img {
  height: auto;
  width: auto;
  max-height: 200px;
  object-position: center;
  object-fit: contain;
}

@media (max-width: 767px) {
  .premierappliances__hero--logo {
    grid-column: 1 / 13;
    grid-row: 2 / 8;
  }
}

.premierappliances__hero--copy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1 / 13;
  grid-row: 9 / 13;
}

.premierappliances__hero--copy h1 {
  margin: 0;
  color: var(--c-white);
  text-shadow: 1px 2px 5px #202020;
}

@media (max-width: 767px) {
  .premierappliances__hero--copy {
    background: var(--pa-darkt);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    grid-row: 8 / 13;
  }
}

.premierappliances__about {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--c-white);
}

.premierappliances__about .premierappliances__contentBlock {
  grid-column: 8 / 12;
  grid-row: 1 / 10;
}

@media (max-width: 992px) {
  .premierappliances__about .premierappliances__contentBlock {
    grid-column: 7 / 12;
  }
}

@media (max-width: 767px) {
  .premierappliances__about .premierappliances__contentBlock {
    grid-column: 3 / 11;
    grid-row: 3 / 11;
  }
}

.premierappliances__packages .pa-grid,
.premierappliances__vendors .pa-grid {
  padding: 2rem 0 0 0;
  height: auto;
  min-height: unset;
  grid-template-rows: unset;
}

.premierappliances__packages .premierappliances__swiper,
.premierappliances__vendors .premierappliances__swiper {
  grid-column: 2 / 12;
  grid-row: 3 / 13;
}

.premierappliances__packages--content,
.premierappliances__vendors--content {
  grid-column: 2 / 12;
  grid-row: 1 / 2;
}

.premierappliances__packages .pa-grid {
  row-gap: 1rem;
}

.premierappliances__package--swiper-wrapper {
  display: none;
  animation: swiperFade 0.5s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.premierappliances__package--swiper-wrapper.active {
  display: block;
}

.premierappliances__packages--btn {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--pa-dark);
  color: var(--c-white);
  padding: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  transition: 0.25s all ease-in-out;
  border: none;
}

.premierappliances__packages--btn:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.premierappliances__packages--btn.active {
  background: var(--pa-gold);
}

.premierappliances__packages--btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 0.5rem;
  row-gap: 1rem;
  grid-column: 2 / 12;
  grid-row: 2 / 3;
}

.premierappliances__packages--btnsWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex: 1 1 350px;
}

.premierappliances__package {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin: auto;
}

.premierappliances__package--btn {
  color: var(--pa-gold);
  border: 0.125rem solid var(--pa-gold);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: auto;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}

.premierappliances__package--btn:hover {
  background: var(--pa-gold);
  color: var(--c-white);
  font-weight: bold;
}

.premierappliances__package--image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.premierappliances__package--image img {
  height: 300px;
  width: 300px;
  object-position: center;
  object-fit: contain;
}

.premierappliances__package--description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  padding: 0 2rem;
  text-align: center;
  height: 100%;
}

.premierappliances__howitworks {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--c-white);
}

.premierappliances__howitworks .premierappliances__contentBlock {
  grid-column: 1 / 7;
  grid-row: 3 / 10;
}

@media (max-width: 767px) {
  .premierappliances__howitworks .premierappliances__contentBlock {
    grid-column: 3 / 11;
    grid-row: 3 / 11;
  }
}

.premierappliances__flexibility {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--c-white);
}

.premierappliances__flexibility .premierappliances__contentBlock {
  grid-column: 4 / 10;
  grid-row: 1 / 8;
}

@media (max-width: 767px) {
  .premierappliances__flexibility .premierappliances__contentBlock {
    grid-column: 3 / 11;
    grid-row: 4 / 10;
  }
}

.premierappliances__whiteglove {
  text-align: center;
  min-height: unset !important;
}

.premierappliances__whiteglove .premierappliances__contentWrapper {
  max-width: 1000px;
}

.premierappliances__whiteglove
  .premierappliances__contentWrapper[data-block="header"] {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.premierappliances__whiteglove .premierappliances__contentBlock {
  background-color: transparent;
  grid-column: 2 / 12;
  grid-row: 2 / 12;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 3rem;
}

@media (max-width: 767px) {
  .premierappliances__whiteglove .premierappliances__contentBlock {
    column-gap: 2rem;
  }
}

.premierappliances__contact {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--c-white);
}

.premierappliances__contact--info {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.25rem;
}

.premierappliances__contact--info a {
  color: inherit;
  text-decoration: none;
}

.premierappliances__contact--form {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
  width: 100%;
}

.premierappliances__contact--form p {
  text-align: start;
  margin-bottom: 0;
}

.premierappliances__contact--input {
  padding: 0.5rem;
  height: 3rem;
  color: var(--pa-dark);
  width: 100%;
  box-sizing: border-box;
}

textarea.premierappliances__contact--input {
  padding: 0.5rem !important;
  resize: none;
  height: 6rem;
}

.premierappliances__contact--submit {
  background: var(--pa-gold);
  padding: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  color: var(--c-white);
}

.premierappliances__contact--submit:hover {
  cursor: pointer;
  filter: brightness(0.95);
  transition: 0.25s all ease-in-out;
}

.premierappliances__contact .premierappliances__contentBlock {
  grid-column: 4 / 10;
  grid-row: 3 / 11;
}

@media (max-width: 767px) {
  .premierappliances__contact .premierappliances__contentBlock {
    grid-column: 1 / 13;
    grid-row: 1 / 13;
  }
}

.premierappliances__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 0;
  cursor: pointer;
  user-select: none;
}

.premierappliances__icon:active {
  transform: translateY(1px);
  transition: all 0.25s ease-in-out;
}

.premierappliances__close {
  background: var(--pa-dark);
  color: var(--c-white);
}

.premierappliances__open {
  background: var(--pa-gold);
  position: fixed;
  z-index: 50;
  bottom: 0.5rem;
  right: 1rem;
}

.premierappliances__contactpopup {
  display: none;
}

.premierappliances__contactpopup--close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.premierappliances__contactpopup .premierappliances__contentBlock {
  width: 100vw;
  max-width: 665px;
  color: var(--c-white);
}

.premierappliances__contactpopup.active {
  display: grid;
  justify-content: center;
  align-items: center;
  background: var(--pa-goldt);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  overflow-y: scroll;
  animation: contactPopupActive 0.5s ease-in-out;
}

.premierappliances__footer {
  background: var(--pa-dark);
  color: var(--c-white);
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

.premierappliances__footer--content {
  grid-column: 2 / 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.premierappliances__footer--content img {
  height: 50px;
  width: auto;
  object-fit: contain;
  object-position: center;
}
