@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Javascript Toggled States */
body.noscroll {
  overflow: hidden;
}

#main-nav.sticky {
  @apply fixed top-0 left-0 w-full z-40 animate-navSticky;
}

.premierappliances__nav--content.active {
  display: flex;
}

.premierappliances__contactpopup.active {
  @apply grid animate-contactPopup;
  display: grid !important;
  /* Force override of utility 'hidden' */
}

/* Swiper Customizations (Cannot be easily Tailwind-ed due to library injection) */
.swiper-pagination-bullet-active {
  background: #cda656 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff !important;
  background: #cda656 !important;
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
  transition: all 0.25s ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: translateY(-1px);
}

.swiper-button-prev:active,
.swiper-button-next:active {
  transform: translateY(1px);
}

.swiper-slide {
  user-select: none;
  cursor: grab;
}

.swiper-slide:active {
  cursor: grabbing;
}